<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RudeAwakening.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7CC16DD1E1DF486008BFDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CC16F61E1DF486008BFDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7CC17011E1DF486008BFDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
